/* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

/*Extra CSS*/

a, li, img, button {outline: none !important;}

a{text-decoration: none !important;}

body{font-family: 'Roboto', sans-serif !important;}
.btn-default {font-family: 'Montserrat', sans-serif !important;text-shadow: none;box-shadow: none;}

.padLEFT0{padding-left: 0px;}

.padRIGHT0{padding-right: 0px;}

.mrgnRIGHT0{margin-right: 0px;}

.mrgnTOP15 {margin-top:15px;}

.brdr-btm {border-bottom:1px solid #e4e4e4; }

.width120{width:120px !important;}

.padLEFT30 {padding-left: 30px;}

/*CSS*/

.bg-img {background:#f2f2f2 url(../images/bg.png)no-repeat center center/cover;height: calc(100vh - 77px);min-height:550px;background-size: cover;display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;}

.navbar-default .container {width: 95%;}

.login-screen {background: #FFF;min-height: 380px;-webkit-box-shadow: 0px 0px 16px 2px rgba(255, 255, 255, 0.35);-moz-box-shadow: 0px 0px 16px 2px rgba(255, 255, 255, 0.35);box-shadow: 0px 0px 16px 2px rgba(255, 255, 255, 0.35);border-radius: 5px;}

.login-screen .detail {width: 40%;float: left;background: #ebebeb;min-height: 380px;padding: 15px;border-radius: 5px 0px 0 5px;}

.login-screen .login {width: 60%;float: left;min-height: 360px;padding: 30px;}

.login-screen .detail img {margin: 0 auto;}

.login-screen .detail ul {list-style: none;padding-left: 0px;padding-top: 60px;}

.login-screen .detail ul li {background: url(../images/right-tick.png)no-repeat 0% 30%;padding-left: 20px;padding-bottom: 10px;line-height: 23px;}

.login-screen .login h4 {color: #f15a24;font-size: 20px;font-weight: 500;margin-bottom:20px; }

.login-screen .login input {background: #FFF;text-shadow: none;border: none;border-radius:0;-webkit-box-shadow:3px 3px 0px 0px rgb(227, 227, 227);-moz-box-shadow:3px 3px 0px 0px rgb(227, 227, 227);box-shadow:3px 3px 0px 0px rgb(227, 227, 227);height: 40px;padding: 6px 15px 6px 0px;}

.login-screen .help-block {margin-top: 10px;color: #bbbbbb;font-size: 13px;}

.login-screen .form-group {margin-bottom: 30px;}

.login input::-webkit-input-placeholder {color:    #bbbbbb !important;}

.login input:-moz-placeholder {color:#bbbbbb !important;}

.login input::-moz-placeholder {color:    #bbbbbb !important;}

.login input:-ms-input-placeholder {color:    #bbbbbb !important;}

.login .btn-default {background: #efe6dd;border-color: #ede3d9;border-radius: 0;text-shadow: none;box-shadow: none;text-transform: uppercase;color: #897e74;color: 15px;padding: 7px 22px;}

.navbar-brand {height: auto;padding: 4px 15px;}

.navbar-default {border-radius: 0;border: none;background-color: #fff;background-image: none;min-height: auto;margin-bottom: 0;padding: 4px 0;border-bottom: 1px solid #ede3d9;box-shadow: none;}

.navbar-default .navbar-nav > li > a {color: #3d3d3d;font-weight: 300;margin-top:13px;padding-top: 11px;padding-bottom: 11px;}

.dropdown-menu > li > a {padding: 10px 20px;}

.navbar-nav .open .dropdown-menu {background: #FFF;margin-top: 4px;}

.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu > li > a {padding: 10px 15px 10px 15px;}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {color: #3d3d3d;background-color: transparent;box-shadow: none !important;background-image: none !important;}

.bg-color {background: #f2f2f2;min-height: calc(100vh - 72px);padding: 0;margin-top: 72px;}

.category-boxes {padding: 50px 0 20px 0;}

.boxes {min-height: 110px;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: left;justify-content: left;-webkit-box-align: left;-ms-flex-align: center;-webkit-align-items: center;align-items: center;padding: 15px 15px;-webkit-box-shadow: 5px 5px 10px -1px rgba(0,0,0,0.15);-moz-box-shadow: 5px 5px 10px -1px rgba(0,0,0,0.15);box-shadow: 5px 5px 10px -1px rgba(0,0,0,0.15);margin-top: 30px;}

.drivers-box {background: #FFF;}
.drivers-box:hover a {color: #ed1d25;}
.drivers-box a {position: absolute;right: 30px;bottom: 0px;color: #969696;}
.inbox-box {background: #FFF;}

.contracts-box {background: #FFF;}

.leave-box {background: #FFF;}

.payroll {background: #FFF;}

.boxes h4 {color: #474747;font-size: 16px;font-weight: 400;line-height: 23px;text-align: left;letter-spacing: 0.5px;}

.boxes h5 {color: #ed1d25;font-size: 30px;font-weight: 400;line-height: 23px;text-align: left;}

.drivers-detail {background: #FFF;min-height:300px;border:1px solid #ede3d9;padding-bottom: 30px;-webkit-box-shadow: 2px 5px 13px 3px rgba(0,0,0,0.20);-moz-box-shadow: 2px 5px 13px 3px rgba(0,0,0,0.20);box-shadow: 2px 5px 13px 3px rgba(0,0,0,0.20);margin-top: 30px;}

.heading {padding: 15px 15px;min-height: 70px;margin-bottom: 0px;}/**/

.heading h4 {margin-top:5px;margin-bottom: 0;color: #646464;font-weight: 400;font-size: 22px;float: left;}/**/

.filters {float: right;}

.filters select{float:left;width: auto;background: #e7ebf5;border-color: #e7ebf5;box-shadow: none;text-shadow: none;border-radius: 0;width: 110px;margin-right: 15px;}

.filters select:last-child {margin-right: 0;}

.filters input {width: 150px !important;margin-left: 10px;background: #FFF;border-radius: 0;border-color: #f5eee8;text-shadow: none;box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.10);}

.filters select {width: 150px !important;margin-left: 10px;background: #FFF;border-radius: 0;border-color: #f5eee8;text-shadow: none;box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.10);}

.filters input::-webkit-input-placeholder {color:#9a9188 !important;}

.filters input:-moz-placeholder {color:#9a9188 !important;}

.filters input::-moz-placeholder {color:#9a9188 !important;}

.filters input:-ms-input-placeholder {color:#9a9188 !important;}

.filters .form-inline {display: inline-block;}

.filters .form-inline:last-child .btn-default {margin-right: 0;}

.drivers-detail .btn-default {background: #ede3d9;border-radius: 0;border-color:#ede3d9;text-shadow: none;box-shadow: none;margin-right: 12px;padding: 6px 20px;color: #9a9188;}

.detail-table {padding:0px 0px; }

.detail-table .table tbody tr td:first-child img {width: 27px;margin: 0 auto;}

.detail-table .table tbody tr td {vertical-align: middle;padding: 13px 20px;color: #333;font-weight: 300;border-top: 1px solid #efefef;}

.detail-table .table tbody tr td a{color: #737475;}

.detail-table .table thead tr th {border-bottom-width: 1px;background: #ffe2b0;}

.detail-table .table tbody tr {background: #FFF;}

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {

    border: 1px solid #dfd2c6;}

.detail-table .table thead tr th {font-weight: 300;color: #000;vertical-align: middle;padding: 13px 20px;font-size: 16px;border-bottom: 0;}
.detail-table .table tbody tr:nth-child(2n) {background-color: #f0f6f3;}

.wht-bg {background: #FFF;min-height:300px;border:1px solid #ede3d9;padding-bottom: 30px;-webkit-box-shadow: 2px 5px 13px 3px rgba(0,0,0,0.20);-moz-box-shadow: 2px 5px 13px 3px rgba(0,0,0,0.20);box-shadow: 2px 5px 13px 3px rgba(0,0,0,0.20);}

.addDriver-form {padding:15px 30px;background: #FFF;}/**/

.addDriver-form .form-horizontal .control-label {padding-top: 7px;margin-bottom: 0;text-align: left;color: #8f8f8f;font-weight: 400;font-size: 15px;}

.addDriver-form input {border-radius:0;border-color: #e8e8e8;height: 40px;margin-bottom: 10px; }

.addDriver-form .form-group {margin-bottom: 20px;}

.addDriver-form .btn-default {background: #FF8800;color: #FFF;text-shadow: none;box-shadow: none;border-radius: 0;border-color:#FF8800;text-transform: uppercase;padding: 9px 20px;font-size: 16px;}

.addDriver-form .radio-inline input {height:auto;}

.addDriver-form input::-webkit-input-placeholder {color:#bbbbbb !important;}

.addDriver-form input:-moz-placeholder {color:#bbbbbb !important;}

.addDriver-form input::-moz-placeholder {color:#bbbbbb !important;}

.addDriver-form input:-ms-input-placeholder {color:#bbbbbb !important;}

.add-branch {background: #dfdfdf !important;color: #7a7a7a !important;border-color:#dfdfdf !important;padding: 4px 17px !important;font-size: 15px !important; }

.addDriver-form label {color: #9b9b9b;}

.verifying-driver-page {padding: 0px 15px;}

.verifying-driver-page label {color: #8b8b8b;font-weight: 400;font-size: 15px;}

.verifying-driver-page .form-inline .form-group {padding-right: 5px;}

.verifying-driver-page .form-inline .form-group label{padding-right: 5px;}

.verifying-driver-page .btn-default {background: #efe6dd;color: #897e74;border-color:#ede3d9;padding: 5px 17px;font-size: 15px;text-shadow: none;box-shadow: none;border-radius: 0;text-transform: uppercase; }

.verifying-driver-page input {border-radius: 0;}

.verifying-driver-page .brdr-btm {margin-top: 15px;margin-bottom: 25px;}

.verifying-driver-page h3 {margin-top: 0;color: #3c4c5b;font-size: 22px;margin-bottom: 20px;}

.driverDETAIL {padding-left: 0;list-style: none;}

.driverDETAIL li {display: inline-block;margin-right: 15px;color: #626262;font-size: 15px;}

.verifying-driver-page h4 {color: #747474;font-size: 16px;font-weight: 400;margin-top: 20px;}

.verifying-driver-page .detail-table {padding: 10px 0px;}

.request-btn {text-shadow: none !important;box-shadow: none !important;color: #FFF !important;background: #ff8800 !important;font-size: 14px !important;font-weight: 300;text-transform: initial !important;border-radius: 5px !important;border-color: #ed8207 !important; }

.verifying-driver-page .detail-table .table tbody img {width: auto;}

.inbox-page .heading{margin-bottom: 0px;}

.all-message {background: #d2d2d2;padding: 3px 15px;}

.all-message h4{font-weight: 300;color: #333333;font-size: 18px;}

.input-group .icon-addon .form-control {border-radius: 0;}

.icon-addon {position: relative;color: #a3a3a3;display: block;}

.icon-addon:after,.icon-addon:before {display: table;content: " ";}

.icon-addon:after {clear: both;}

.icon-addon.addon-md .glyphicon,.icon-addon .glyphicon,.icon-addon.addon-md .fa,.icon-addon .fa {position: absolute;z-index: 2;left: 10px;font-size: 14px;width: 20px;margin-left: -2.5px;text-align: center;padding: 10px 0;top: 1px;}

.icon-addon.addon-lg .form-control {line-height: 1.33;height: 46px;font-size: 18px;padding: 10px 16px 10px 40px;border-radius: 0;background: #e7e7e7;border: none;}

.icon-addon.addon-sm .form-control {height: 30px;padding: 5px 10px 5px 28px;font-size: 12px;line-height: 1.5;}

.icon-addon.addon-lg .fa,.icon-addon.addon-lg .glyphicon {font-size: 18px;margin-left: 0;left: 11px;top: 4px;}

.icon-addon.addon-md .form-control,.icon-addon .form-control {padding-left: 30px;float: left;font-weight: normal;}

.icon-addon.addon-sm .fa,.icon-addon.addon-sm .glyphicon {margin-left: 0;font-size: 12px;left: 5px;top: -1px}

.icon-addon .form-control:focus + .glyphicon,.icon-addon:hover .glyphicon,.icon-addon .form-control:focus + .fa,.icon-addon:hover .fa {color: #2580db;}

.icon-addon input::-webkit-input-placeholder {color:#717171 !important;font-weight: 300 !important;}

.icon-addon input:-moz-placeholder {color:#717171 !important;font-weight: 300 !important;}

.icon-addon input::-moz-placeholder {color:#717171 !important;font-weight: 300 !important;}

.icon-addon input:-ms-input-placeholder {color:#717171 !important;font-weight: 300 !important;}

.email-list {list-style: none;padding-left: 0px;}

.email-list li {border-bottom: 1px solid #e8e8e8;padding: 14px 10px 14px 10px;color: #171717;font-size: 15px;}

.left-side {border-right: 1px solid #e8e8e8;}

.email-list li img {padding-right: 5px;}

.email-list .active  li {background: #198fb9;color: #FFF;}

.email-list li:hover {background: #198fb9;color: #FFF;}

.mail-heading {border-bottom: 1px solid #e4e4e4;min-height: 71px;padding: 10px 15px;}

.mail-heading h4 {margin-top:17px;margin-bottom: 0;font-weight: 500;font-size: 18px;float: left;color: #171717;}

.date {color: #9b9b9b;text-align: right;margin-top: 17px;}

.content {padding: 30px 30px;}

.content h3 {font-size: 18px;font-weight: 400;margin-top: 10px;}

.content p {line-height: 23px;font-size: 16px;font-weight: 300;}

.reply-outer-box {padding: 30px;}

.reply-box {background: #f5f5f5;min-height: 110px;border:1px solid #e7e7e7;padding: 10px;position: relative;}

.reply-box p{color: #c1c1c1;}

.reply-box p a{color: #c1c1c1;}

.reply-box p a:hover {text-decoration: underline !important;}

.reply-box .btn-default {background: #d5d5d5;color: #7c7c7c;text-transform: uppercase;text-shadow: none;box-shadow: none;border-radius: 0;padding:6px 15px;font-size: 14px;position: absolute;bottom: 10px;right: 10px;}

.reply-box textarea {background: transparent;text-shadow: none;box-shadow: none;border-radius: 0;border: none;resize: none;padding: 6px 0px;}

.reply-box textarea:focus {outline: none !important;border:none;box-shadow: none;}

 .signup-screen .login{width: 100%;float: none;min-height: 350px;padding: 30px;margin-right: 0px;margin-left: 0px;}

.signup-screen .form-group:nth-child(5) {margin-bottom: 5px;}

.signup-screen .form-group:nth-child(6) {margin-bottom: 5px;}

.addDriver-form h4 {color: #575757;font-weight: 500;border-bottom: 1px solid #e0e0e0;padding-bottom: 15px;margin-bottom: 30px;text-transform: uppercase;font-size: 15px;}

.datepicker {border:1px solid #e8e8e8;padding: 6px 12px !important;}

.driver-detail-page h4 {font-size: 14px;margin-top: 10px;}

.driver-detail-page .driverDETAIL {margin-bottom: 20px;}

.driver-detail-page h2 {color: #747474;font-size: 16px;font-weight: 400;margin-top: 20px;}

.view-remove {text-align: center;}

.view-remove a {margin:0 6px !important; }

.view-detail {text-shadow: none !important;box-shadow: none !important;color: #FFF !important;background: #7d879e !important;font-size: 13px !important;font-weight: 300;text-transform: initial !important;border-radius: 5px !important;border-color: #7d879e !important;padding: 5px 10px !important; }

.heading-tabs {padding: 0px 15px;min-height: auto;}

/*.hover-css .table tbody tr {cursor: pointer;}*/

.hover-css .table tbody tr:hover{background: #ede5dd;}

.payroll-page .table{width:45%;}

.edit {text-align: center;}

.edit img {width: 22px !important;}

.well {box-shadow: 0 0 10px rgba(0,0,0,0.3);display:none;margin:1em;width: 50%;background: #FFF;padding: 9px 15px;}

.popup-btn {background: #FFF;position: absolute;top: 10px;right: 10px;padding: 0px 5px;border: none;box-shadow: none;text-shadow: none;opacity: 0.3;}

.popup-btn:focus, .popup-btn:hover {background-color: transparent;}

.popup-content h4 {font-size: 18px;color:#383838;}

.popup-head {border-bottom: 1px solid #d3d3d3;margin-bottom:15px;padding-bottom:5px; }

.popup-body p {color: #7a7a7a;margin-bottom: 5px;}

.popup-body .detail-table {margin-top:20px }

.popup-body h4 {font-size: 16px;color:#383838;}

.payrollDRIVER-page .table tbody img {width: auto;}

.addPAYROLL-popup {width: 260px;}

.addPAYROLL-popup .popup-head {margin-top:15px; border: none;}

.generate-mnth .btn-default {background: #efe6dd;border-radius: 0;border-color: #ede3d9;text-shadow: none;box-shadow: none;padding: 6px 20px;color: #897e74;}

.generate-mnth input {border-radius: 0;}

.leaves-tab .table {width: 100% !important;}

.leaves-tab .detail-table {width: 55%;}

.advance-tab .detail-table {width: 35%;}

.advance-tab .table {width: 100% !important;}

.rqst-more-detail-popup {width: 36%;}

.well input {border-radius: 0;text-shadow: none;box-shadow: none;border: 1px solid #ebebeb;height: 40px;}

.well textarea {border-radius: 0;text-shadow: none;box-shadow: none;border: 1px solid #ebebeb;}

.well label {font-weight: 500;color: #535353;font-size: 14px;}

.well .form-group {margin-bottom: 20px;}

.well .send-btn {background: #efe6dd;border-radius: 0;border-color: #ede3d9;text-shadow: none;box-shadow: none;padding: 6px 20px;color: #897e74;text-transform: uppercase;}

/*.addLEAVES {width: 400px;}*/

.addLEAVES input {width: 130px;display: inline-block;}

.addLEAVES label {padding-right: 10px;}

.addLEAVES .form-group {margin-right: 0px;margin-left: 0px;}

.master-page .detail-table .table tbody img {width: auto;margin: 0 auto;display: block;}

.master-page .detail-table {width: 58%;}

.master-page .btn-default {background: #efe6dd;color: #897e74;border-color: #ede3d9;padding: 5px 17px;font-size: 15px;text-shadow: none;box-shadow: none;border-radius: 0;text-transform: uppercase;}

.profile-page input {text-shadow: none;box-shadow: none;border: 1px solid #e0e0e0;min-height: 40px;}

.sidebar .nav > li > a:focus, .nav > li > a:hover {background-color: transparent;color: #ff0200 !important;}

.bg-color .row:first-child {margin-right: 0px;}

.sidebar {float: left;width: 200px;min-height: calc(100vh - 72px);background: #FFF;position: absolute;z-index: 0;}
.stick {position: fixed;}
.sidebar-nav {padding-right: 0;padding-left: 0;}
.sidebar-nav ul {font-size: 0;text-align: center;}
#side-menu li {display: block;padding: 0px 0;background: #FFF;}
#side-menu li a {padding:13px 15px;color: #4d4d4d;font-weight: 400;font-size: 16px;text-align: left;line-height: 1;}
#side-menu li:last-child a {border-right: 0;}
#side-menu li a img {vertical-align: middle;width: 27px;margin-right: 7px;position: relative;top: -2px;}
.active-class {color: #ff0200 !important;border-right: 5px solid #ed1d25;box-shadow: 1px 1px 5px 4px rgba(0,0,0,0.1);z-index: 1;}
.active-class:hover, .active-class:focus {background-color: transparent !important;color: #ff0200 !important;}

.heading-tabs .btn-default {background: #FFF;border-radius: 0;border-color: #e4e4e4;text-shadow: none;box-shadow: none;padding: 8px 20px;color: #897e74;margin-top:12px; }

.heading-tabs .nav-tabs li {margin-bottom:-5px; }

.payroll-page .block-width {width: 45%;}

.well .form-horizontal .control-label {text-align: left;}

.NHIF-tab .detail-table {width: 40%;}

.driver-page .table tbody tr td img {display: block;margin: 0 auto;}

.renew-btn {margin-left:15px;padding: 3px 12px !important;font-size: 13px !important; }

.nssf-block {width: 55%;padding: 25px 15px;}

.nssf-block h4 {font-weight: 400;color: #7c838f;font-size: 15px;display: inline-block;padding-right: 15px;margin-top: 12px;}

.nssf-block label {font-weight: 400;color: #7c838f;font-size: 15px;}

.nssf-block input {border-radius: 0;text-shadow: none;box-shadow: none;}

.nssf-block .btn-default {margin-left:10px; }

.nssf-block .form-inline {margin-top: 12px;}

.NHIF-tab .row {margin-left: 0;}

.popup-btn .glyphicon{font-size: 10px;top:0;left: 1px;text-shadow: none;box-shadow: none;}

.addPAYROLL-popup h4 {text-align: center;}

.dashboard-page {min-height: 300px;padding-bottom: 30px;}

.notification-block {margin-top:50px; }

.panel-default > .panel-heading {color: #1f1203;background-color: #e6d5c3;border-color: #d7c5b2;background-image: none !important;font-size: 15px;}

.panel-default {border-color: #ede3d9;}

.panel-default .btn-default {text-shadow: none;box-shadow: none;background-image: none !important;background: #DEE3EE;border-color: #DEE3EE;color: #637190;text-transform: uppercase;font-weight: 500;}

.modal.in .modal-dialog {top: 50%;transform: translate(0, -60%) !important;}

.modal-content { position: relative;}

#status .modal-dialog {width: 400px;margin: 30px auto;}

.modal-dialog  input {border-radius: 0;text-shadow: none;box-shadow: none;border: 1px solid #ebebeb;height: 40px;}

.modal-footer {padding: 0px 15px 30px 15px;text-align: left;border-top: none;}

.modal-footer .btn-default {background: #efe6dd;border-radius: 0;border-color: #ede3d9;text-shadow: none;box-shadow: none;padding: 6px 20px;color: #897e74;text-transform: uppercase;margin-left: 7px;}

.modal-body {padding-bottom:0;}

#colorstar { color: #ecbf09;}

.lead {margin-bottom: 0;margin-top: 5px;}

.modal-dialog  .radio-inline input {height: auto;}

#contract .modal-dialog {width: 400px;margin: 30px auto;}

#contract h4 {font-size: 16px;display: inline-block;}

#contract .modal-header {padding: 10px 15px 10px 15px;border-bottom: none;}

#contract .modal-body {padding-top: 0;}

.btn-group > .btn:first-child {margin-left: 15px;margin-right: 7px;}

.modal-header h4 {font-size: 18px;}

#addAdvance .modal-dialog {width: 280px;margin: 30px auto;}

#addAdvance .form-horizontal .control-label {padding-right: 0;text-align: left;}

#addAdvance .form-horizontal input {width: 100%;}

#addTaxSlab .modal-dialog {width: 340px;}

.modal-dialog label {color: #8b8b8b;font-weight: 400;font-size: 15px;}

#addNHIF .modal-dialog {width: 300px;}

.pull-left{ text-align:left!important;}

.pull-right{ text-align:right !important;}

.help{ font-size:11px; color:#898d8d; }

.add_branch .btn{background: #f8f0e8;color: #9a9188;text-shadow: none;box-shadow: none;border-radius: 0;border-color: #ede3d9;text-transform: uppercase;padding: 5px 10px;font-size: 12px;}

.notify{background: #e03131;padding: 0px 7px;border-radius: 100%;position: absolute;top: 2px;right: 7px;font-size: 11px;font-weight: 800;color: #fff;}
/** CSS for Logo in the header **/
.logoimg{ font-size: 11px; float: left; width: 50%; margin: 28px 43px; }
nav>li>a>img .imgLogo{ max-width:35px; }

/** Css for alert box***/
#alertBoxs { width: 60%;margin: 0 0 10px 0px;font-size: 15px;background: #f15a24;padding: 7px 20px;text-transform: capitalize;color: #3b3b3b;border-radius: 3px; }

#alertBoxSuccess { width: 60%;font-size: 20px;text-transform: capitalize;color: #258c27;border-radius: 3px; }

#alertemailSuccess {color: #d24d4d;margin-bottom: 15px;}

/*New Css*/
.header-btn1 {background: #ff0200 !important;border-radius: 0 !important;border-color: #ff0200 !important;color: #FFF !important;margin-left: 1px;font-size: 15px !important;font-weight: 400 !important;-webkit-box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.10);-moz-box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.10);box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.10);text-align: center !important;width: 120px;}
.header-btn {background: #FFF !important;border-radius: 0 !important;border-color: #ff0200 !important;color: #ff0200 !important;margin-left: 1px;font-size: 15px !important;font-weight: 400 !important;-webkit-box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.10);-moz-box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.10);box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.10);text-align: center !important;width: 120px;}
.header-btns {list-style: none;padding-left: 0;float: right;margin: 0;padding-top: 18px;}
.header-btns li {display: inline-block;}
.header-btns li:first-child {margin-right: 20px;}
.new-footer {background: #222222;padding: 40px 0 36px 0;z-index: 2;position: relative;}
.new-footer p {color: #FFF;font-size: 16px;line-height: 30px;margin: 0;}
.new-footer a {color: #828282;font-size: 14px;line-height: 30px;}
.new-footer ul {list-style: none;padding-left: 0;margin: 0;}
.new-footer ul li {display: inline-block;margin-right:10px;color: #828282;font-size: 14px;vertical-align: middle; }

.enterprise-login {padding: 65px 0;background: #f2f2f2 url(../images/bg.png) center center;min-height: calc(100vh - 80px);}
.enterprise-login form {background: #fff;padding: 70px 200px;text-align: center;border:1px solid #eeeeee;border-radius: 0px;-webkit-box-shadow: 2px 5px 13px 3px rgba(0,0,0,0.20);-moz-box-shadow: 2px 5px 13px 3px rgba(0,0,0,0.20);box-shadow: 2px 5px 13px 3px rgba(0,0,0,0.20);}
.enterprise-login .logo {margin:0 auto 20px;display: block;}
.enterprise-login form input {border: none;height: 40px;margin-bottom: 10px;border-radius: 0px;box-shadow: none;padding-left: 0;}
.enterprise-login form input:hover, .enterprise-login form input:focus {box-shadow: none;}
.enterprise-login form .input-group-addon {border-radius: 0px;background: transparent;border: none;color: #ff0200;font-size: 19px;}
.enterprise-login form .input-group {margin-bottom: 15px;border: 1px solid #dedede;-webkit-box-shadow: 1px 3px 4px 0px rgba(0,0,0,0.10);-moz-box-shadow: 1px 3px 4px 0px rgba(0,0,0,0.10);box-shadow: 1px 3px 4px 0px rgba(0,0,0,0.10);}
.enterprise-login form label {color: #3f3f3f;font-weight: 400;font-size: 15px;padding-bottom: 5px;}
.enterprise-login form h4 {margin-top: 0px;margin-bottom: 40px;font-size: 26px;font-weight: 400;}
.enterprise-login .btn-default {background: #ff0200;border-radius: 0px;border-color: #ff0200;color: #FFF;font-size: 15px;padding: 6px 20px;margin-bottom: 15px;display: block;width: 100%;margin-top: 10px;font-size: 18px;}
.enterprise-login .signUP-btn {background: transparent;color: #ff0200;width: 150px;margin: 0 auto;border-color: #EAEAEA;-webkit-box-shadow: 1px 3px 5px 1px rgba(0,0,0,0.10);-moz-box-shadow: 1px 3px 5px 1px rgba(0,0,0,0.10);box-shadow: 1px 3px 5px 1px rgba(0,0,0,0.10);}
.enterprise-login .btn-default:hover, .enterprise-login .btn-default:focus{ background: #FFF;border-color: #ff0200;color: #ff0200; }
.hr-line {position: relative;margin-top: 10px;margin-bottom: 40px;padding-top: 10px;padding-bottom: 10px;}
.hr-line hr {margin-top: 0px !important;margin-bottom: 0px !important;border-width:2px;border-color: #909090;}
.span-text {display: block;position: absolute;left: 50%;top: 0px;margin-left: 0;background-color: #fff;width: auto;text-align: center;padding: 0 10px;transform: translate(-50%);}
.enterprise-signUP {padding: 65px 0;background: #f2f2f2 url(../images/bg.png) center center;min-height: calc(100vh - 80px);}
.enterprise-signUP form {background: #fff;padding: 70px 200px;text-align: center;border: 1px solid #eeeeee;border-radius: 0px;-webkit-box-shadow: 2px 5px 13px 3px rgba(0,0,0,0.20);-moz-box-shadow: 2px 5px 13px 3px rgba(0,0,0,0.20);box-shadow: 2px 5px 13px 3px rgba(0,0,0,0.20);}

.enterprise-signUP form input {height: 40px;margin-bottom: 10px;border-radius: 0px;box-shadow: none;padding-left: 0;border: 1px solid #dedede;-webkit-box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.10);-moz-box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.10);box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.10);border-left: none; }
.enterprise-signUP form input:hover, .enterprise-signUP form input:focus {-webkit-box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.10);-moz-box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.10);box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.10);border-color: #dedede;}
.enterprise-signUP form .input-group-addon:hover, .enterprise-signUP form .input-group-addon:focus {box-shadow: none;-webkit-box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.10);-moz-box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.10);box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.10);}
.enterprise-signUP form .input-group-addon {border-radius: 0px;background: transparent;color: #ff0200;font-size: 19px;border: 1px solid #dedede;-webkit-box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.10);-moz-box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.10);box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.10);border-right: none;}
.enterprise-signUP form .input-group {margin-bottom: 15px;}
.enterprise-signUP form label {color: #3f3f3f;font-weight: 400;font-size: 15px;padding-bottom: 5px;}
.enterprise-signUP form h4 {margin-top: 0px;margin-bottom: 40px;font-size: 26px;font-weight: 400;}
.enterprise-signUP .form-btn {background: #ff0200;border-radius: 0px;border-color: #ff0200;color: #FFF;font-size: 15px;padding: 6px 20px;margin-bottom: 15px;display: block;width: 100%;margin-top: 20px;font-size: 18px;}
.enterprise-signUP label.error {display: block;}
.enterprise-signUP form label {display: block;text-align: center !important;margin-bottom: 10px;}
.enterprise-signUP select {height: 40px;padding-left: 0;border: 1px solid #dedede;-webkit-box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.10);-moz-box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.10);box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.10);border-left: none;border-radius:0; color: #9b9b9b !important; }
.enterprise-signUP textarea {padding-left: 0;border: 1px solid #dedede;-webkit-box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.10);-moz-box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.10);box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.10);border-left: none;border-radius:0; color: #9b9b9b !important; }
.ementerprise-signUP #fake-file-button-browse {background: #FFF;height: 40px;border-radius:0;-webkit-box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.10);-moz-box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.10);box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.10);border: 1px solid #dedede !important;margin-right: 0; font-family: 'Montserrat', sans-serif !important;font-size: 14px;color: #9b9b9b;}
.enterprise-signUP #fake-file-input-name {padding-left: 12px;}
.enterprise-signUP #fake-file-button-browse1 {background: #FFF;height: 40px;border-radius:0;-webkit-box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.10);-moz-box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.10);box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.10);border: 1px solid #dedede !important;margin-right: 0; font-family: 'Montserrat', sans-serif !important;font-size: 14px;color: #9b9b9b;}
.enterprise-signUP #fake-file-input-name1 {padding-left: 12px;}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {background-color: #FFF;}
#terms_tag {color: #929292;font-size: 13px;text-align: left;}
.enterprise-signUP .btn-group {margin-bottom: 0px;}
.enterprise-signUP .btn-group .btn-default {background: #FFF;width: 174px;color: #6a6a6a;-webkit-box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.10);-moz-box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.10);box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.10);}
.enterprise-signUP .btn-group .btn-default:hover, .enterprise-signUP .btn-group .btn-default:focus {color: #ff0200;border-color:#ff0200;}
.enterprise-signUP .btn-group .active-btn{ background: #ff0200;color: #FFF;border-color:#ff0200; }
.enterprise-signUP .btn-group .active-btn:hover, .enterprise-signUP .btn-group .active-btn:focus{ background: #ff0200;color: #FFF;border-color:#ff0200; }

.enterprise-signUP .form-btn {background: #ff0200;border-radius: 0px;border-color: #ff0200;color: #FFF;font-size: 15px;padding: 6px 20px;margin-bottom: 15px;display: block;width: 100%;margin-top: 20px;font-size: 18px;}
.enterprise-signUP form .radio-inline {display: inline-block;}
.enterprise-signUP form .radio-inline input {height: auto;}

.enterpriseFeatures { padding: 20px; }
.enterpriseFeatures p { font-size: 20px;font-weight: 400; }
.enterpriseFeatures ul li { padding-bottom: 8px;font-size: 16px;list-style: decimal; }
.freeTrailMsg { font-size: 18px;padding-left: 20px;margin-top: 15px; }


.panel-pricing { -moz-transition: all .3s ease;-o-transition: all .3s ease;-webkit-transition: all .3s ease;min-height: 500px; }
.panel-pricing:hover { box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2); }
.panel-pricing .panel-heading { padding: 5px 10px;background: none;border: none;}
.panel-pricing .panel-heading .fa { margin-top: 10px;font-size: 58px; }
.panel-pricing .list-group {max-width: 80%;margin: 0 auto;box-shadow:none;}
.panel-pricing .list-group-item { color: #777777;background: transparent;border: 1px solid #FCE1E1;border-width: 1px 1px !important;}
.panel-pricing .list-group-item:last-child { border-bottom-right-radius: 0px;border-bottom-left-radius: 0px; }
.panel-pricing .list-group:last-child .list-group-item:last-child {border-bottom: 1px solid #FCE1E1;}
.panel-pricing .list-group-item:first-child { border-top-right-radius: 0px;border-top-left-radius: 0px; }
.panel-pricing .panel-body {margin: 0px;padding-top: 15px;padding-bottom: 5px; }
.panel-pricing .panel-body p {font-size: 20px;color: #777777;}
.panel-pricing .panel-body p strong {color: #ff0200;font-size: 36px;}
.panel-pricing .panel-heading h3 { margin-top: 10px;margin-bottom: 0; }
.main-panel.panel-pricing {background: #ff0000;transform: scale(1.2, 1.1);z-index: 1;}
.main-panel.panel-pricing .panel-body p, .main-panel.panel-pricing .panel-body p strong {color: #FFF !important;}
.main-panel.panel-danger .panel-heading {color: #FFF;text-transform: uppercase;}
.main-panel.panel-pricing .list-group-item {color: #fff;border: 1px solid #fc6e6e;}
.main-panel.panel-pricing .list-group:last-child .list-group-item:last-child {border-bottom: 1px solid #fc6e6e !important;}
#plans {margin-top: 50px;}
.panel-pricing .btn {border-radius: 0;text-shadow: none;box-shadow: none;font-size: 17px;font-weight: 400;padding: 7px 20px;width: 140px;border: none;background: #ff0000;color: #FFF; margin: 0px auto;margin-top: 20px;}
.main-panel.panel-pricing .btn {background: #FFF !important;color: #ff0000 !important;}

.enterprise-updateSignup form h4 { margin-top: 0px;margin-bottom: 40px;font-size: 26px;font-weight: 400; }
.enterprise-updateSignup form .input-group {margin-bottom: 15px;}
.enterprise-updateSignup form .input-group-addon {border-radius: 0px;background: transparent;color: #ff0200;font-size: 19px;border: 1px solid #dedede;box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.10);border-right: none;}
.enterprise-updateSignup form input { height: 40px;border-radius: 0px;padding-left: 0;border: 1px solid #dedede;box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.10);border-left: none; }
.enterprise-updateSignup select {height: 40px;padding-left: 0;border: 1px solid #dedede;box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.10);border-left: none;border-radius: 0;color: #9b9b9b !important;}
.enterprise-updateSignup .btn-group .btn-default {width: 216px;}
.enterprise-updateSignup .btn-group .btn-default {background: #FFF;box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.10);}
.enterprise-updateSignup .btn-group .btn-default:hover, .enterprise-updateSignup .btn-group .btn-default:focus {color: #ff0200;border-color:#ff0200;}
.enterprise-updateSignup .btn-group .active-btn{ background: #ff0200;color: #FFF;border-color:#ff0200; }
.enterprise-updateSignup .btn-group .active-btn:hover, .enterprise-updateSignup .btn-group .active-btn:focus{ background: #ff0200;color: #FFF;border-color:#ff0200; }
.enterprise-updateSignup .form-btn {background: #ff0200;border-radius: 0px;border-color: #ff0200;color: #FFF;font-size: 15px;padding: 6px 20px;margin-bottom: 15px;display: block;width: 100%;margin-top: 20px;font-size: 18px;}


/*HOW IT WORKS*/
.how_it_worksFirst h3 { text-align: center;font-size: 30px;font-weight: 700;margin-bottom: 20px; }
.how_it_worksFirst .firstSection { text-align: center; }
.how_it_worksFirst img { width: 200px; }
.how_it_worksFirst p { font-size: 19px;color: #6c6c6c; }

.how_it_worksSeconds { padding: 40px;margin-top: 25px;border-bottom: 1px solid #ccc; }
.how_it_worksSeconds p { color: #636363;font-size: 22px;text-align: center; }

.how_it_worksSecond { background: #5d5d5d;padding: 40px;margin-top: 25px; }
.how_it_worksSecond p { color: #fff;font-size: 22px;text-align: center; }

.how_it_worksThird h3 { text-align: center;font-size: 35px;font-weight: 700;margin-bottom: 10px;margin-top: 40px; }
.how_it_worksThird .SecondSection { text-align: center;min-height: 330px; }
.how_it_worksThird img { width: 200px; }
.how_it_worksThird p { font-size: 19px;color: #6c6c6c; }

.how_it_worksFourth { background: #ee231f; text-align: center; padding: 30px;min-height: 240px; }
.how_it_worksFourth h3 { font-size: 30px;color: #fff;padding-bottom: 50px; }
.how_it_worksFourth .SignUpBtn { color: #fff;border: 5px solid #fff;padding: 10px 30px;font-size: 20px; }
.page-rightWidth {float: left;width: calc(100% - 200px);margin-left: 200px;padding: 0 40px;}
.bg-color .container-fluid {padding: 0;}
.dashboard-page h3 {font-weight: 300;font-size: 30px;margin-bottom: 0;}
.notification-block .nav-tabs {display: block;background: #FFF;}
.notification-block .heading-tabs {padding: 0px 0px;margin-bottom: 20px;}
.notification-block .heading-tabs .nav-tabs li {margin-bottom: 0;width: 25%;margin-right: 0;text-align: center;padding: 14px 0;}
.notification-block .nav-tabs > li.active {border: none;}
.notification-block .nav-tabs > li.active a {color: #ed1d25;}
.notification-block .nav-tabs > li > a {padding: 0px 15px;font-size: 16px;border-right: 1px solid #EBEBEB !important;}
.notification-block .nav-tabs > li:last-child a {border-right: none !important;}
.notification-block .driver-detail-tab .table {box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.20);-webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.20);-moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.20);}
.notification-block .driver-detail-tab .table thead {background: #ffe2b0;}
.notification-block .driver-detail-tab .table thead th {font-weight: 300;padding: 13px 20px;font-size: 16px;color: #000;border-bottom: 0;}
.notification-block .driver-detail-tab .table tbody td {padding: 13px 20px;color: #333;font-weight: 300;border-top: 1px solid #efefef;}
.notification-block .driver-detail-tab .table tbody tr:nth-child(even) {background-color: #f0f6f3;}
.heading-tabs .btn-default {background: #FFF;border-radius: 0;border-color: #e4e4e4;text-shadow: none;box-shadow: none;padding: 8px 20px;color: #897e74;margin-top:12px; }
.driver-detail-heading h4 {color: #646464;font-weight: 400;font-size: 22px;float: left;margin-top: 18px;}
.driver-detail-heading .btn-default {background: #FFF;border-radius: 0;border-color: #e4e4e4;text-shadow: none;padding: 8px 20px;color: #897e74;margin-top: 12px;-webkit-box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.15);-moz-box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.15);box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.15);}
.driver-detail-page {background: #FFF;padding: 40px 15px 15px 15px;margin-top: 20px;}
.driver-detail-page .table tbody tr:nth-child(odd) {background-color: #f0f6f3;}
.driver-detail-page .table tbody tr td {border: none;padding: 10px 15px;}
.driver-detail-page .belowImgTxt {font-size: 18px;font-weight: 300;color: #111;margin-top: 10px;margin-bottom: 0px;}
.driver-detail-page .driver-img {width: 100%;max-width: 400px;}

.add-docu-kin-block {margin-top: 30px;}
.add-docu-kin-block .nav-tabs {display: block;background: #FFF;}
.add-docu-kin-block .heading-tabs {padding: 0px 0px;margin-bottom: 0px;border: 1px solid #EBEBEB;}
.add-docu-kin-block .heading-tabs .nav-tabs li {margin-bottom: 0;width: 33.3333%;margin-right: 0;text-align: center;padding: 0px 0;}
.add-docu-kin-block .nav-tabs > li.active {border: none;}
.add-docu-kin-block .nav-tabs > li.active a {color: #ed1d25;}
.add-docu-kin-block .nav-tabs > li > a {padding: 14px 15px;font-size: 17px;border-right: 1px solid #EBEBEB !important;}
.add-docu-kin-block .nav-tabs > li:last-child a {border-right: none !important;}
.add-docu-kin-block .driver-detail-tab .table {box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.20);-webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.20);-moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.20);}
.add-docu-kin-block .driver-detail-tab .table thead {background: #ffe2b0;}
.add-docu-kin-block .driver-detail-tab .table thead th {font-weight: 300;padding: 13px 20px;font-size: 16px;color: #000;border-bottom: 0;}
.add-docu-kin-block .driver-detail-tab .table tbody td {padding: 13px 20px;color: #333;font-weight: 300;border-top: 1px solid #efefef;}
.add-docu-kin-block .driver-detail-tab .table tbody tr:nth-child(odd) {background-color: #f0f6f3;}
.add-docu-kin-block .driver-detail-tab .table tbody tr td a {color: inherit;font-size: 14px;}

.invoice-page .table thead {background: #ffe2b0;}
.invoice-page .table thead th {font-weight: 300;padding: 13px 20px;font-size: 16px;color: #000;border-bottom: 0;}
.invoice-page .table tbody td {padding: 13px 20px;color: #333;font-weight: 300;border-top: 1px solid #efefef;}
.invoice-page .table tbody tr:nth-child(odd) {background-color: #f0f6f3;}
.invoice-page .table tbody tr td a {color: inherit;font-size: 14px;}


.enterprise-banner {height: calc(100vh - 80px);min-height:500px;background: #ff0200 url(../images/enterprise-bg.png) no-repeat center center/cover;display: flex;text-align: center;flex-direction: column;justify-content: center;}
.enterprise-banner img {margin: 0 auto 30px;}
.enterprise-banner h3 {font-size: 36px;text-align: center;color: #FFF;font-weight: 400;font-style: italic;}
.enterprise-feature {height: calc(100vh);min-height:500px;background: #ff0200 url(../images/enterprise-feature.jpg) no-repeat center center/cover;}
.enterprise-feature .container-fluid {width: 90%;}
.enterprise-feature h2 {margin-top: 0;padding-top: 100px;text-align: center;color: #FFF;font-size: 40px;font-weight: 700;font-family: 'Montserrat', sans-serif !important;margin-bottom: 90px;}
.enterprise-feature h4 {text-align: center;color: #FFF;font-size: 22px;line-height: 28px;font-weight: 500;}
.enterprise-feature .feature-icon {margin: 0 auto 25px;width: 200px;}
.why-enterprise {padding-top: 60px;padding-bottom: 60px;}
.why-enterprise h3 {margin-top: 0;text-align: center;color: #333333;font-size: 40px;font-weight: 700;font-family: 'Montserrat', sans-serif !important;margin-bottom: 60px;}
.why-enterprise .container {width: 1200px !important;}
/*.why-enterprise-block {background: url(../images/enterprise.png) no-repeat center center;background-size:900px 520px;min-height: 520px;position: relative; }*/
/*.why-enterprise-block h4 {font-size: 26px;line-height: 34px; display: inline-block;font-weight: 400;margin: 0;position: absolute;}*/
/*.why-enterprise-block .txt1 {text-align: right;top:20px;left:85px;}
.why-enterprise-block .txt2 {text-align: right;top:220px;left:-35px;}
.why-enterprise-block .txt3 {text-align: right;top:395px;left:80px;}
.why-enterprise-block .txt4 {top:20px;right:70px;}
.why-enterprise-block .txt5 {top:220px;right:-20px;}
.why-enterprise-block .txt6 {top:395px;right:110px;}*/
.why-enterprise p { display: inline-block;font-size: 22px;color: #5a5a5a;margin-bottom: 0; }
.why-enterprise img { width: 180px;display: block;margin: 0px auto; }
.enterpriseFeatures .btn-danger { border-radius: 0;text-shadow: none;box-shadow: none;font-size: 17px;font-weight: 400;padding: 7px 20px;width: 140px;border: none;background: #ff0000;color: #FFF;margin: 0px auto;margin-top: 20px; }
.why-enterprise .block-content .align-ryt {text-align: right;min-height: 180px;display: flex;flex-direction: column;justify-content: center;padding-right: 0;}
/*.why-enterprise .block-content .align-left {text-align: left;min-height: 180px;display: flex;flex-direction: column;justify-content: center;padding-left: 0;}*/
.why-enterprise .block-content .align-left {text-align: center;display: flex;flex-direction: column;justify-content: center;padding-left: 0;}

.custom-search-input {display: none;}
.flag-driver-page .filters {display: none;}
.pricing-table-page .heading .filters {display: none;}

.paymentStatus h4 { margin-top: 20px; }
.paymentStatus .heading { border-bottom: 1px solid #ccc; }
.paymentStatus .PaymentSuccess { margin-top: 30px; }
.paymentStatus .PaymentSuccess p { font-size: 18px;padding: 10px; }


.driverPack{ background: #e8e8e8; }
.driverPack h3 { text-align: center;margin: 0px auto;padding: 30px; }

.terms-of-conditions h3 { color: #484848;font-size: 28px;font-weight: 500;margin-bottom: 30px; }
.terms-of-conditions .container-fluid { width: 92%; }
.terms-of-conditions p { color: #5c5c5c;font-size: 11px; }
.terms-of-conditions h4 { color: #5c5c5c;font-size: 18px;font-weight: 500;margin-bottom: 10px;margin-top: 30px; }
.terms-of-conditions ul { list-style: lower-latin;padding-left: 15px;margin-bottom: 0; }
.terms-of-conditions ul li { color: #5c5c5c;font-size: 11px;padding-bottom: 12px; }
::-webkit-scrollbar{width:12px!important}
::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3)!important;-webkit-border-radius:10px!important;border-radius:10px!important}
::-webkit-scrollbar-thumb{-webkit-border-radius:10px!important;border-radius:10px!important;background:#41617D!important;-webkit-box-shadow:inset0 0 6px rgba(0,0,0,.5)!important}
::-webkit-scrollbar-thumb:window-inactive{background:#41617D!important}