.btn-fixed-bottom{position:fixed;bottom:10px;right:20px;display:none;}
.btn-hide-show{margin-right:10px;}
.btn-light{color:#555;background-color:rgba(0, 0, 0,.1);}
.btn-light:hover{color:#111;background-color:rgba(0, 0, 0,.25);}
.btn-dark{color:#fff;background-color:rgba(0, 0, 0,.5);}
.btn-dark:hover{color:#fff;background-color:rgba(0, 0, 0,.9);}
.btn-showup{position:relative;color:#fff;font-weight:normal;background-color:#463265;border-color:#3F2961;}
.btn-showup:focus,
.btn-showup:hover,
.btn-showup:focus{color:#fff;outline:none;background-color:#000;border-color:#000;}