.msg-box {display: flow-root;
position: relative;
clear: both;
}

.msg_block{
	max-height: 300px;
	overflow: auto;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
/* Safari and Chrome */
	.msg-box {
		margin-bottom : 50px;
	}
}

.msg{
	padding : 15px;
	margin-bottom: 20px;
	border-radius: 8px;
	max-width: 90%;
}

.received_msg{
	text-align: left;
	background-color: #f0f0f0;
	color: #747474;
	max-width: 80%;
	float: left;

}

.send_msg{
	text-align: left;
	background-color: #2845A7;
	color:#fff !important;
	max-width: 80%;
	float: right;
}

.date-n-time {float: right;}