.drv_bg_color { background: #eeeeee;min-height: calc(100vh - 80px);padding-bottom: 50px;margin-top: 80px;}
.drv_padRIGHT0{padding-right: 0px;}
.drv_padLEFT30 {padding-left: 30px;}
.drv_sidebar {border: 1px solid #e4e4e4;margin-top: 15px;position: fixed;width: 200px;}
.drv_sidebar .nav > li > a:focus, .nav > li > a:hover {background-color: #ebf1f6;}
.drv_bg_color .row:first-child {margin-right: 0px;}
.drv_sidebar_nav {padding-right: 0;padding-left: 0;}
#drv_side_menu li {background: #FFF;}
#drv_side_menu li a {padding: 15px 15px !important;border-bottom: 1px solid #f0f0f0 !important;color: #4d4d4d;font-weight: 300;font-size: 16px;}
#drv_side_menu li a img {padding-right: 7px;}
.active-class {background-color: #ebf1f6;border-bottom:1px solid #d3dae0;}
.top_heading { margin-top: 100px;text-align: center; }
.top_heading h3 { color: #3f7be4;font-size: 30px;font-weight: 500; }
.top_heading h4 { color: #e4453f;font-size: 30px;font-weight: 500; }
.driver_personal_form { margin-top: 25px;border-top: 1px solid #e6e6e6;padding: 50px 20px; }
.driver_personal_form label { color: #8f8f8f;font-weight: 400;font-size: 15px; }
.driver_personal_form input { border-radius: 0;border-color: #e8e8e8;height: 40px;margin-bottom: 10px; }
#terms_tag { text-align: center;padding: 20px 15px;font-size: 18px;font-weight: 400;color: #ea4949; }
.driver_personal_form .btn-default{ background: #004989;color: #FFF;text-shadow: none;box-shadow: none;border-radius: 0;border-color: #004989;text-transform: uppercase;padding: 9px 20px;font-size: 16px; }
.driver_personal_form .btn[disabled]:hover { background-color: #004989; }
.reg_thank { margin-top: 150px;text-align: center;background: #f93838;width: 57%;padding: 40px 50px; }
.reg_thank p { font-size: 20px;font-weight: 400; }
.change_pass { margin-top: 100px;text-align: center;padding: 40px 50px; }
.change_pass p { text-transform: capitalize;font-size: 23px;font-weight: 500;color: #626262; }
.change_pass label { color: #8f8f8f;font-weight: 400;font-size: 15px; }
.change_pass input { border-radius: 0;border-color: #e8e8e8;height: 40px;margin-bottom: 6px; }
.change_pass .btn-default{ background: #004989;color: #FFF;text-shadow: none;box-shadow: none;border-radius: 0;border-color: #004989;text-transform: uppercase;padding: 9px 20px;font-size: 16px;float: left; }
.change_pass .btn[disabled]:hover { background-color: #004989; }
.chng_pass_msg { display: inline-block;font-size: 16px;color: #fffdfd;background: #ff3d3d;padding: 10px 10px; }
.Driver_login { margin-top: 150px;text-align: center;border: 3px solid #f93838;width: 57%;padding: 15px 50px;border-radius: 5px; }
.Driver_login p { padding-bottom: 15px;font-size: 20px; }
.Driver_login label { color: #515151;font-weight: 400;font-size: 15px; }
.Driver_login input { border-radius: 0;border-color: #e8e8e8;height: 40px;margin-bottom: 10px; }
.Driver_login .btn-default{ background: #004989;color: #FFF;text-shadow: none;box-shadow: none;border-radius: 0;border-color: #004989;text-transform: uppercase;padding: 8px 15px;font-size: 14px;margin-top: 10px; }
#forgot_pass { float: right; font-size: 13px; }
#lstFruits1_chosen .chosen-choices { height: 50px !important; }
#lstFruits2_chosen .chosen-choices { height: 50px !important; }
.comp_profile{ margin-top: 150px;text-align: center;}
.comp_profile p { padding-bottom: 15px;font-size: 18px;}
.comp_profile .btn-default{ background: #004989;color: #FFF;text-shadow: none;box-shadow: none;border-radius: 0;border-color: #004989;text-transform: uppercase;padding: 8px 15px;font-size: 14px;margin-top: 10px; }
#work_p { margin-top: 150px;padding-bottom: 15px;font-size: 20px;text-align: center; }
.work_expe label { color: #8f8f8f;font-weight: 400;font-size: 15px; }
.work_expe input { border-radius: 0;border-color: #e8e8e8;height: 40px;margin-bottom: 6px; }
.add_field_button { cursor: pointer;font-size: 16px;font-weight: 500;text-align: center;border: 1px solid #c9c9c9;display: inline-block;padding: 5px 10px; }
.input_fields_wrap { background: #f5f5f5;padding: 20px 15px;margin-bottom: 20px; }
.remove_field { float: right;cursor: pointer;font-size: 16px;font-weight: 500;text-align: center;border: 1px solid #c9c9c9;display: inline-block;padding: 5px 10px;color: #515151; }
.work_expe .btn-default{ float: left;background: #004989;color: #FFF;text-shadow: none;box-shadow: none;border-radius: 0;border-color: #004989;text-transform: uppercase;padding: 8px 15px;font-size: 14px;margin-top: 10px; }
.photo_cap { margin-top: 100px;text-align: center; }
.photo_cap p { padding-bottom: 15px;font-size: 18px; }
#capt{ border: 2px solid #ff3918;text-shadow: none;box-shadow: none;text-transform: capitalize;padding: 8px 15px;font-size: 14px;margin-top: 10px; }
#captured_photo { width: 180px;height: 180px; }
#photo { height:auto;padding: 12px 12px;width: auto;margin-top: 15px; }
.photo_cap .btn-default{ background: #004989;color: #FFF;text-shadow: none;box-shadow: none;border-radius: 0;border-color: #004989;text-transform: uppercase;padding: 8px 15px;font-size: 14px;margin-top: 10px; }
.success_verify { margin-top:150px; text-align:center; }
.success_verify .btn-default{ background: #ff2400;color: #FFF;text-shadow: none;box-shadow: none;border-radius: 3;border-color: #ff2400;text-transform: uppercase;padding: 8px 15px;font-size: 14px; }