@media only screen and (min-width:0px) and (max-width:480px){
	.enterprise-signUP .btn-group .btn-default {width: 120px;}
	.why-enterprise img {max-width: 110px;}
	.why-enterprise .block-content .align-ryt {min-height: 110px;}
	.why-enterprise .block-content .align-left {min-height: 110px;}
	.why-enterprise p {font-size: 18px;margin-bottom: 0;}
	.driverPack h3 { font-size: 14px; }
}
@media only screen and (min-width:0px) and (max-width:767px){
	.bg-color {min-height: calc(100vh - 79px);margin-top: 79px;}
	.bg-img {height: auto;padding: 70px 0;}
	.login-screen .detail {width: 100%;float: none;}
	.login-screen .login {width: 100%;float: none;padding: 15px;}
	.boxes {margin-bottom: 20px;}
	.drivers-detail .btn-default {margin-right: 10px;padding: 6px 15px;}
	.padLEFT0 {padding-right: 0;}
	.padRIGHT0 {padding-left: 0;}
	.navbar-toggle {margin-top: 21px;margin-right: 20px;border: none;}
	.navbar-toggle .icon-bar {height: 3px;}
	.inbox-page .padLEFT0 {padding-left: 15px;padding-right: 15px;}
	.inbox-page .padRIGHT0 {padding-left: 15px;padding-right: 15px;}
	.content {padding: 30px 15px;}
	.reply-outer-box {padding: 30px 15px;}
	.left-side, .right-side {background: #FFF;}
	.inbox-page {background: transparent;border:none;}
	.mail-heading h4 {float: none;}
	.date {text-align: left;}
	.heading h4 {margin-top: 20px;float: none;margin-bottom: 15px;font-size: 16px;display: inline-block;}
	.filters .form-inline {display: block;}
	.filters input {width: 100% !important;max-width: 400px;margin: 0 auto 10px;}
	.drivers-detail .btn-default {margin: 0 auto 10px !important;display: block;width: 100%;}
	.detail-table {padding: 0px 0px;border:none;width: 100% !important;}
	.nav-tabs > li > a {padding: 12px 7px !important;font-size: 14px !important;}
	.heading-tabs .nav-tabs li {width: 100%;text-align: center;margin-bottom: 0;}
	.heading-tabs .nav-tabs > li.active {border: none !important;}
	.heading-tabs .nav-tabs > li.active > a, .heading-tabs .nav-tabs > li.active > a:focus, .heading-tabs .nav-tabs > li.active > a:hover {background-color: #f5f5f5;}
	.heading-tabs .nav-tabs {margin-top: 15px;}
	.navbar-default .navbar-brand img {width: 200px !important;}
	.navbar-brand {padding: 15px 0px;}
	.enterprise-login form {padding: 40px 20px;}
	.enterprise-login form h4 {margin-bottom: 30px;font-size: 24px;}
	.enterprise-signUP form {padding: 40px 20px;}
	.enterprise-signUP form h4 {margin-bottom: 30px;font-size: 24px;}
	/*#contact {width: calc(100% - 80px);}*/
	#side-menu li {display: inline-block;padding: 0px 0;}
	#side-menu li a {padding: 11px 15px;font-size: 14px;border-right: 1px solid #ebebeb;}
	#side-menu li:last-child a {border-right: none;}
	#side-menu li a img {margin: 0 auto;display: block;}
	.active-class {color: #ff0200 !important;border-right: inherit;box-shadow: none;}
	.new-footer {margin-bottom:63px; }
	.master-page {padding: 0 5px;}
	.sidebar {position: relative;min-height: auto;width: 100%;float: none;border-top: 1px solid #ebebeb;}
	.page-rightWidth {float: none;width: 100%;margin-left: 0;padding: 0 0px;}
	.page-rightWidth .dashboard-page .col-sm-6:first-child .drivers-box.boxes {border-top: 1px solid #ebebeb;}
	.page-rightWidth .dashboard-page .row .col-sm-6 {padding-right: 0;}
	.page-rightWidth .dashboard-page .row {margin-right: 0;}
	.drivers-box {position: relative;margin: 0px auto;border-bottom: 1px solid #ebebeb;box-shadow: none;}
	.drivers-box a {right: 20px;}
	.drivers-box .glyphicon {position: absolute;right: 20px;top: 30px;color: #969696;}
	.dashboard-page h3 {text-align: left;font-size: 26px;margin-bottom: 15px;margin-top: 15px;padding: 0 15px;}
	.enterprise-banner {min-height:400px;}
	.enterprise-banner h3 {font-size: 28px;}
	.enterprise-feature {height: auto;}
	.enterprise-feature h2 {padding-top: 60px;font-size: 30px;}
	.enterprise-feature .col-sm-3 {border-bottom: none;padding-bottom: 20px;margin-bottom: 0px;min-height: 300px;padding-left: 0;padding-right: 0;}
	.enterprise-feature .col-sm-3:last-child {border-bottom: none;}
	.why-enterprise-block {background: transparent;width: auto;height: auto;}
	.why-enterprise h3 {font-size: 30px;}
	.enterprise-block-resp {border-bottom: 1px solid #e6e6e6;padding-bottom: 10px;margin-bottom: 10px;}
	.enterprise-block-resp:last-child {border-bottom: none;}
	.enterprise-block-resp h5 {font-size: 22px;line-height: 28px;font-weight: 400;text-align: center;margin-top: 0;}
	.enterprise-block-resp img {margin: 0 auto;}
	.why-enterprise .container {width: auto !important;}
	.enterprise-feature h2 {padding-top: 60px;margin-bottom: 70px;}
	.enterprise-feature {min-height: 580px;}
	.enterprise-feature h4 {font-size: 16px;line-height: 1.4;}
	.sidebar .collapse {display: block !important;}
	.drivers-detail {background: transparent;border: none;box-shadow: none;margin-top: 10px;padding-bottom: 0;}
	.heading {padding: 0px 15px;min-height: 60px;}
	.dashboard-page.dashboard-other-page h3 {font-size: 16px;display: inline-block;vertical-align: middle;float: left;}
	.dashboard-page.dashboard-other-page .backBtn {background: #FFF;border-radius: 0;border-color: #e4e4e4;text-shadow: one;padding: 6px 12px;color: #897e74;margin-top: 10px;-webkit-box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.15);-moz-box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.15);box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.15);display: inline-block;margin-right: 10px;font-size: 12px;vertical-align: middle;float: right;}
	.resp-driver-details {padding: 10px 0px;background: #FFF;margin-top: 10px;}
	.resp-driver-details .resp-driver-details-block {border-bottom: 1px solid #EBEBEB;padding: 0px 15px 7px 15px;margin-bottom: 15px;}	
	.resp-driver-details .resp-driver-details-block:last-child {border-bottom: none;padding-bottom: 5px;margin-bottom: 0px;}	
	.resp-driver-details .resp-driver-details-block h4 {font-size: 14px;font-weight: 400;}
	.resp-driver-details .resp-driver-details-block .span1 {width: 135px;display: inline-block;color: #909090;} 
	.resp-driver-details .resp-driver-details-block .span2 {text-align: right;width: calc(100% - 135px);display: inline-block;} 
	.dashboard-page {padding-bottom: 0px;}
	#custom-search-input {display: inline-block;}
	#custom-search-input input {box-shadow: none;width: 100px !important;border-right: none;padding-right: 0;}
	#custom-search-input input:focus {border-color:#f5eee8; }
	#custom-search-input .btn-default {background: #FFF;border-left: none;border-color: #f5eee8;margin-bottom: 0 !important;}

	.resp-my-driver {padding: 10px 0px;background: #FFF;margin-top: 10px;}
	.resp-my-driver .resp-my-driver-block {border-bottom: 1px solid #EBEBEB;padding: 0px 10px 7px 10px;margin-bottom: 15px;}	
	.resp-my-driver .resp-my-driver-block:last-child {border-bottom: none;padding-bottom: 5px;margin-bottom: 0px;}	
	.resp-my-driver .resp-my-driver-block h4 {font-size: 14px;font-weight: 400;}
	.resp-my-driver .resp-my-driver-block .block-1 {width: 70px;display: inline-block;color: #909090;vertical-align: top;} 
	.resp-my-driver .resp-my-driver-block .block-2 {width: calc(100% - 75px);display: inline-block;vertical-align: top;padding-left: 5px;position: relative;padding-right: 40px;} 
	.resp-my-driver .resp-my-driver-block .block-2 h5 {font-size: 13px;font-weight: 400;color: #909090;margin-top: 0;}
	.resp-my-driver .resp-my-driver-block .block-2 .view-profile {color: #6dbe48;font-size: 12px;position: absolute;top: 40px;right: 0;}
	.resp-my-driver .resp-my-driver-block .block-2 .glyphicon {color: #909090;font-size: 12px;position: absolute;top: 10px;right: 0;}
	.flag-driver-page .filters {display: block;	}
	.flag-driver-page .heading {margin-top: 15px;min-height: auto;}
	/*SMITA*/
	.plan .drivers-box {min-height: 50px; position: relative;margin: 0px auto;border-bottom: 1px solid #ebebeb;box-shadow: none;}
	.plan h4 {padding-top: 7px;margin-bottom: 0;text-align: left;color: #8f8f8f;font-weight: 400;font-size: 15px;}
	/*End*/
	.enterprise-feature .feature-icon {margin: 0 auto 25px;width: 85%;max-width: 200px;}
	.why-enterprise .block-content {border-bottom: 1px solid #EBEBEB;padding-bottom: 10px;margin-bottom: 15px;}
	.driver-detail-page .belowImgTxt {font-size: 14px;}
	.driver-detail-resp h4 .span1 {width: 100px;display: inline-block;vertical-align: top;}
	.driver-detail-resp h4 .span2 {width: calc(100% - 100px);display: inline-block;vertical-align: top;text-align: right;}
	.driver-detail-resp h4 {margin: 0;padding: 10px 10px;border: 1px solid #F5F5F5;font-size: 12px;}
	.driver-detail-resp h4:nth-child(odd) {background: #f0f6f3;}
	.driver-detail-resp {margin-top: 15px;margin-bottom: 20px;}
	.bg-color .row:first-child {margin-right: -15px;margin-left: -15px;}
	.driver-detail-heading {padding: 0 15px;}
	.driver-detail-page .driver-img {width: 80%;margin: 0 auto;}
	.smk_accordion .accordion_in:first-of-type, .smk_accordion .accordion_in:first-of-type .acc_head {border-radius: 0px 0px 0 0;}
	.driver-detail-page-accordion .smk_accordion .accordion_in:first-of-type, .driver-detail-page-accordion .smk_accordion .accordion_in:first-of-type .acc_head {
    border-radius: 0 0 0 0;}
    .driver-detail-page-accordion .smk_accordion .accordion_in:last-of-type, .driver-detail-page-accordion .smk_accordion .accordion_in:last-of-type .acc_content {border-radius: 0 0 0 0;}
    .driver-detail-page-accordion .smk_accordion .accordion_in .acc_head .acc_icon_expand {right: 10px;left: initial;}
    .driver-detail-page-accordion .accordion_in .acc_head, .driver-detail-page-accordion .smk_accordion.acc_with_icon .accordion_in .acc_content {padding-left: 10px !important;}
    .driver-detail-page-accordion .smk_accordion .accordion_in .acc_head {padding: 15px 10px;}
    .driver-detail-page-accordion .accordion_in .acc_content h4 {font-size: 13px;border-top: 1px solid #EBEBEB;margin: 0;padding: 10px 0;vertical-align: middle;}
    .driver-detail-page-accordion .accordion_in .acc_content h4 .span1 {width: calc(100% - 145px);display: inline-block;vertical-align: middle;}
    .driver-detail-page-accordion .accordion_in .acc_content h4 .span2 {width: 140px;display: inline-block;vertical-align: middle;text-align: right;}
    .driver-detail-page-accordion .accordion_in .acc_content h4 .span2 ul {padding-left: 0;list-style: none;}
    .driver-detail-page-accordion .accordion_in .acc_content h4 .span2 ul li {display: inline-block;margin: 0 8px;}
    .driver-detail-page-accordion .smk_accordion .accordion_in .acc_head {font-size: 18px !important;}
    .pricing-table-page .heading .filters {display: inline-block;}
    .pricing-table-page .heading {min-height: auto;padding-top: 10px;padding-bottom: 5px;}
    .pricing-table-content-resp {background: #FFF;border-top: 1px solid #eeeeee;}
    .pricing-table-content-resp .smk_accordion .accordion_in:first-of-type, .pricing-table-content-resp .smk_accordion .accordion_in:first-of-type .acc_head {border-radius: 0px 0px 0 0;}
	.pricing-table-content-resp .smk_accordion .accordion_in:first-of-type, .pricing-table-content-resp .smk_accordion .accordion_in:first-of-type .acc_head {
    border-radius: 0 0 0 0;}
    .pricing-table-content-resp .smk_accordion .accordion_in:last-of-type, .pricing-table-content-resp .smk_accordion .accordion_in:last-of-type .acc_content {border-radius: 0 0 0 0;}
    .pricing-table-content-resp .smk_accordion .accordion_in .acc_head .acc_icon_expand {right: 10px;left: initial;}
    .pricing-table-content-resp .accordion_in .acc_head, .pricing-table-content-resp .smk_accordion.acc_with_icon .accordion_in .acc_content {padding-left: 10px !important;}
    .pricing-table-content-resp .smk_accordion .accordion_in .acc_head {padding: 15px 10px;}
    .pricing-table-content-resp .accordion_in .acc_content h4 {font-size: 13px;border-top: 1px solid #EBEBEB;margin: 0;padding: 10px 0;vertical-align: middle;}
    .pricing-table-content-resp .accordion_in .acc_content h4 .span1 {width: calc(100% - 145px);display: inline-block;vertical-align: middle;}
    .pricing-table-content-resp .accordion_in .acc_content h4 .span2 {width: 140px;display: inline-block;vertical-align: middle;text-align: right;}
    .pricing-table-content-resp .accordion_in .acc_content h4 .span2 ul {padding-left: 0;list-style: none;}
    .pricing-table-content-resp .accordion_in .acc_content h4 .span2 ul li {display: inline-block;margin: 0 8px;}
    .pricing-table-content-resp .smk_accordion .accordion_in .acc_head {font-size: 18px !important;font-weight: 300;}
    .pricing-table-content-resp .smk_accordion .accordion_in {border: 1px solid #eeeeee;}
    .pricing-table-content-resp h3 {margin: 0;font-size: 19px;font-weight: 400;color: #2e3192;padding: 17px 15px;border-bottom: 1px solid #eeeeee; }
    .pricing-table-content-resp .accordion_in .acc_content ul {padding-left: 15px;}
    .pricing-table-content-resp .accordion_in .acc_content ul li {font-size: 14px;padding-bottom: 6px;}
    .pricing-table-content-resp .smk_accordion {margin-bottom: 0;}
    .pricing-table-content-resp small {margin: 0;font-size: 13px;padding: 12px 15px;border-bottom: 1px solid #eeeeee;display: block;color: #808080;line-height: 1.3;}
    .pricing-table-content-resp .accordion_in .acc_content .btn {background: #FFF;border-radius: 0;color: #ff0200;border: 1px solid #ff0200;font-size: 13px;padding: 4px 10px;text-transform: uppercase;margin-bottom: 15px;}

    .paymentStatus h4 { margin-top: 20px; }
	.paymentStatus .heading { border-bottom: 1px solid #ccc; }
	.paymentStatus .PaymentSuccess { margin-top: 50px; }
	.paymentStatus .PaymentSuccess p { font-size: 18px;padding: 10px;text-align: center; }

	.how_it_worksSecond p { font-size: 18px; }

	.invoice-page .filters a { margin-top: 15px; }
	.invoice-page .issuer { float:left; }
	.new-profile-page .filters {display: inline-block;}
	.new-profile-page .filters .form-inline .btn-default {width: auto !important;padding: 6px 14px !important;font-size: 13px;}
	.drivers-detail.driver-page .heading h4 {margin-top: 8px !important;}
	.drivers-detail.driver-page .heading {min-height: 45px !important;}
	.flag-driver-page .heading h4 {margin-top: 8px !important;}
	.edit-driver-page .filters .form-inline .btn {margin-top: 12px !important;padding: 6px 15px !important;width: auto !important;}
	.add-driver-page .filters .form-inline .btn {margin-top: 12px !important;background: #FFF !important;}
	.terms-of-conditions h3 { font-size: 24px;margin-bottom: 20px; }
	.terms-of-conditions p { font-size: 9px; }
	.terms-of-conditions h4 { font-size: 15px;margin-top: 20px; }
	.terms-of-conditions ul li { font-size: 9px; }

	.how_it_worksSeconds { margin-top: 0px;padding: 20px 10px; }
	.how_it_worksSeconds p { font-size: 16px;text-align: center; }
	.how_it_worksThird h3 { font-size: 25px; }
	.how_it_worksThird img { width: 160px; }
	.how_it_worksThird p { font-size: 15px; }
	.how_it_worksFourth h3 { font-size: 22px; }
	.how_it_worksFourth .SignUpBtn { padding: 6px 20px;font-size: 18px; }
	.how_it_worksThird .SecondSection { min-height: 250px; }

	.how_it_worksSecond { padding: 20px; }
	.how_it_worksSecond p { font-size: 16px; }

}
@media only screen and (min-width:768px) and (max-width:991px){
	.boxes {margin-bottom: 20px;}
	.verifying-driver-page .form-inline .form-group {display: block;margin-bottom: 10px;}
	.enterprise-login form {padding: 50px 80px;}
	.enterprise-login form h4 {margin-bottom: 30px;}
	.enterprise-signUP form {padding: 50px 80px;}
	.enterprise-signUP form h4 {margin-bottom: 30px;}
	.enterprise-signUP .btn-group .btn-default {width: 154px;}
	/*#contact {width: calc(100% - 80px);}*/
	.sidebar {width: 180px;}
	#side-menu li a {font-size: 15px;}
	#side-menu li a img {width: 24px;margin-right: 5px;}
	.page-rightWidth {width: calc(100% - 180px);margin-left: 180px;padding: 0 30px;}
	.drivers-box {position: relative;}
	.drivers-box a {right: 20px;}
	.detail-table .table tbody tr td, .detail-table .table thead tr th {padding: 13px 15px;}
	.viewBtn {font-size: 12px;}
	.editBtn {margin-left: 7px !important;padding-left: 7px !important;font-size: 12px;}
	.why-enterprise .container {width: 750px !important;}
	.why-enterprise img {max-width: 120px;}
	.why-enterprise .block-content .align-ryt {min-height: 120px;}
	.why-enterprise .block-content .align-left {min-height: 120px;}
	.new-footer ul li { margin-right: 0px; }
	.new-footer p { font-size: 14px; }
}
@media only screen and (min-width:992px) and (max-width:1199px){
	.width150{width:130px !important;}
	.verifying-driver-page .form-inline .form-group {padding-right: 12px;}
	.enterprise-signUP form {padding: 70px 140px;}
	.enterprise-signUP form {padding: 70px 140px;}
	.enterprise-signUP .btn-group .btn-default {width: 167px;}
	/*#contact {width: calc(100% - 80px);}*/
	.drivers-box {max-width: 320px;position: relative;}
	.panel-pricing .panel-heading h3 {font-size: 20px;}
	.panel-pricing .panel-body p {font-size: 16px;}
	.panel-pricing .panel-body p strong {font-size: 24px;}
	.panel-pricing .list-group-item {font-size: 13px;padding: 7px 7px;}
	.main-panel.panel-pricing {transform: scale(1.28, 1.1);}
	.why-enterprise-block {background-size: 600px auto;min-height: 500px; }
	.why-enterprise-block h4 {font-size: 23px;line-height: 29px;}
	.why-enterprise-block .txt1 {top: 90px;left: 115px;}
	.why-enterprise-block .txt2 {left: 30px;}
	.why-enterprise-block .txt3 {top:340px;left:110px;}
	.why-enterprise-block .txt4 {top: 90px;right: 95px;}
	.why-enterprise-block .txt5 {right: 35px;}
	.why-enterprise-block .txt6 {top:340px;right:130px;}
	.why-enterprise .container {width: 990px !important;}
	.enterprise-feature {height: calc(100vh);min-height: 580px;}
}