
/* Default mode */
.nav-tabs {
  border: none;
  margin: 0px;
  display: inline-block;
}
.nav-tabs > li {
  margin-right: 2px;
}
.nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
  padding: 15px 15px;
  font-size: 16px;
}
.nav-tabs > li > a > i {
  color: #a6a6a6;
}
.nav-tabs > li.open, .nav-tabs > li:hover {

}
.nav-tabs > li.open > a, .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.nav-tabs > li.open > a > i, .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.nav-tabs > li.open .dropdown-menu, .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.nav-tabs > li.active {
  position: relative;
  border-bottom: 4px solid #5b3306;
}
.nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.nav-tabs > li.active > a > i {
  color: #404040;
}
.tab-content {
  padding-bottom: 0;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {border:none;}